.nav {
    grid-area: n;
    background-color: #edeef0;
}

.item a {
    color: #285460;
    padding: 10px 10px 10px 40px;
    transition: all 0.4s;
    display: block;
    text-decoration: none;
}

.item a:hover,
.item a.active {
    /* color: white; */
    /* background-color: #C0C0C0; */
    background-color: #AFEEEE;
    ;
}